table {

    border-radius: 25px;
    box-shadow: 11px 7px 6px 0px #2d272763;
}

.program {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding-left: 3%;
}

.program.radius {
    border-top-left-radius: 25px;
}

.program.bottom {
    border-bottom-left-radius: 25px;
}


.description {
    border-bottom: 0.1rem solid rgb(0, 0, 0);
    width: 500px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}
.end {
    width: 500px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.description.top {
    border-top-right-radius: 25px;
}

.end.bottom {
    border-bottom-right-radius: 25px;
}

.learn-more {
    background-color: #ea1a1aef;
    /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.learn-more:hover {
    background-color: #a70000;
    color: #ffffff;
    border-radius: 5px;
}